<%= form_with(model: contact) do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>

    <div>
        <%= form.label :phone %>
        <%= form.text_field :phone %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>
