<h1>All Contacts</h1>
<div class="row">
    <% @contacts.each do |contact| %>
        <div class="col-md-4 mb-4">
        <div class="card text-white bg-dark mb-3">
            <% if contact.avatar.attached? %>
                <%= image_tag url_for(contact.avatar), class: 'img' %>
            <% else %>
                <%= image_tag 'default-avatar.png', class: 'img' %>
            <% end %>
            <div class="card-body">
            <h5 class="card-title"><%= contact.name %></h5>
            <p class="card-text"><strong>Email:</strong> <%= contact.email %></p>
            <p class="card-text"><strong>Phone:</strong> <%= contact.phone %></p>
            <%= link_to 'Show', contact_path(contact), class: 'btn btn-primary' %> |
            <%= link_to 'Edit', edit_contact_path(contact), class: 'btn btn-secondary' %> |
            <%= link_to 'Delete', contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            </div>
        </div>
        </div>
    <% end %>
</div>
<%= link_to 'New Contact', new_contact_path, class: 'btn btn-primary' %>
