<h1><%= @contact.name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Phone:</strong> <%= @contact.phone %></p>

<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' %> |
<%= link_to 'Delete', contact_path(@contact), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back to all contacts', contacts_path, class: 'btn btn-primary' %>
